---
const logoUrl = "https://a10449bdfbfb3f01814a0ac8808e260a.cdn.bubble.io/cdn-cgi/image/w=800,h=346,f=auto,dpr=2,fit=contain/f1730063213960x236193636720462240/Blokko_io.png";
---

<header class="flex justify-center pt-8 pb-12">
  <a href="https://blokkoio.bubbleapps.io/" title="Go to Blokko.io" class="hover:opacity-80 transition-opacity">
    <img
      src={logoUrl}
      alt="Blokko.io Logo"
      class="h-24 md:h-32"
      style="max-width:380px;"
    />
  </a>
</header>
